.dish {
    margin-bottom: 2em;
    padding: 0 1em;
    text-align: center;
}

@media (min-width: 600px) {
    .dish {
        display: flex;
        flex-direction: column;
        width: calc(100% / 3);
        margin-bottom: 3em;

        flex-grow: 0;
    }
}

@media (min-width: 900px) {
    .dish {
        width: 25%;
        margin-bottom: 4em;
    }
}

.dish__title {
    width: auto;
    max-width: 100%;
    height: 18px;
    margin-bottom: 0.5em;
}

@media (min-width: 600px) {
    .dish__title {
        margin: 0 auto;
        margin-bottom: 0;
    }
    .dish__image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}


.dish__description {
    font-size: 14px;
    flex: 1;
    margin-top: 0;
}

.dish__price {
    font-weight: 600;
    color: #e98457;
}

@media (max-width: 599px) {
    .dish__container {
        position: relative;
        padding-bottom: 2em;
        border-bottom: 1px solid #eee;
    }
    .dish__image {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: auto;
    }
    .dish__container__col {
        padding-right: 120px;
        text-align: left;
    }
}

@media (min-width: 600px) {
    .dish__container,
    .dish__container__col {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .dish__description {
        flex: 1;
    }
}

@media (max-width: 599px) {
    .hide-mobile {
        display: none !important;
    }
    .hide-desktop {
        display: block !important;
    }
}
@media (min-width: 600px) {
    .hide-mobile {
        display: block !important;
    }
    .hide-desktop {
        display: none !important;
    }
}
